<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-4 alert alert-warning mt-5">
      <div>
        <ul>
          <li><%= "YOU:  #{params[:ask]}" %></li>
          <li><%= "COACH:  #{@answer}" %></li>
        </ul>
        <div class="row justify-content-md-center">
          <a href="#" class="col-4 alert-link"><%= link_to 'return to ask', "/" %></a>
        </div>
      </div>
    </div>
  </div>
</div>
