<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-3 mt-5">
      <form action="/answer" data-turbo="false">
        <label for="exampleInputEmail1" class="form-label">Ask</label>
        <input id="input" type="text" name="ask" class="form-control">
        <div id="emailHelp" class="form-text">Ask something to the coach.</div>
        <div class="row justify-content-md-center">
          <input type="submit" value="Ask!" class="btn btn-primary col-3 mt-3">
        </div>
      </form>
    </div>
  </div>
</div>
